{% if request.user.is_authenticated %}
<p>{{request.user}}</p> 
<a href="{% url 'logout' %}">Cerrar Sesion</a>
{% else %}
<a href="{% url 'login' %}">Iniciar Sesion</a>
{% endif %} 

<hr>

<h1>Bienvenido a Pacer</h1>
<a href="{% url 'task-create' %}">Agregar Tarea</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Buscar">
</form>
<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.titulo}}</td>
        <td><a href="{% url 'task-update' task.id %}">Editar</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Eliminar</a></td>
    </tr>
    {% empty %}
        <h3>No hay items en la lista</h3>    
    {% endfor %}
</table>